body {
            /* background-image: url("/pexels-miriamespacio-110854.jpg"); */
            background-color: #250e8d;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            
        }


/* animacion de las estrellas */
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(./bg0.jpg);
    background-position-x: center;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}


@keyframes animateBg {
    0%,100%
    {
        transform:scale(1);
    }
    50%
    {
        transform:scale(1.2);
    }
}
span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #f5f2f2;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(232, 238, 232, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
}
span::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #f6f3f3, transparent);
}
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }
    
}
span:nth-child(1){
    top: 0;
    right: 0;
    left:initial;
    animation-delay:0 ;
    animation-duration: 1s;
}

span:nth-child(2){
    top: 0;
    right: 80px;
    left:initial;
    animation-delay:0.2s;
    animation-duration: 3s;
}

span:nth-child(3){
    top: 80px;
    right: 0px;
    left:initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}

span:nth-child(4){
    top: 0;
    right: 180px;
    left:initial;
    animation-delay:0.6s;
    animation-duration: 1.5s;
}

span:nth-child(5){
    top: 0;
    right: 400px;
    left:initial;
    animation-delay:0.8s;
    animation-duration: 2.5s;
}

span:nth-child(6){
    top: 0;
    right: 600px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 3s;
}
span:nth-child(7 ){
    top: 300px;
    right: 0px;
    left:initial;
    animation-delay:1s ;
    animation-duration: 1.75s;
}

span:nth-child(8){
    top: 0px;
    right: 700px;
    left:initial;
    animation-delay:1.4s ;
    animation-duration: 1.25s;
}

span:nth-child(9){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:0.75s ;
    animation-duration: 2.25s;
}

span:nth-child(10){
    top: 0px;
    right: 1000px;
    left:initial;
    animation-delay:2.75s ;
    animation-duration: 2.25s;
}

/* Aqui termina la animacion de las estrellas */



.botones { 
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40vh;
            margin: 0;
            /* espacio entre los botones se llama gap */
            gap: 22px;
}


button {
    color: #000000;
    background-color: rgb(205, 40, 141);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 19px 30px; 
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* la sombra de los botones hacia la izquierda por eso 400px */

.juega:hover {
    box-shadow: inset 300px 0 0 0 #2291b0;
    
}

.opci:hover {
    box-shadow: inset 400px 0 0 0 #2291b0;
    
}

.tiend:hover {
    box-shadow: inset 400px 0 0 0 #2291b0;
    
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center; 
}

img {
    margin-top: 90px;
    width: 500px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #000000;
   
}


.piedepag {
    font-size: 15px;
    color: rgb(35, 131, 228);
    margin-left: 600px;
    margin-top: 600px;
}

